{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<style>
    .ui-datepicker{
        width: 160px;
    }
    .ui-datepicker-calendar {
     display: none;
    }
    .inputerror{
        background-color: mistyrose !important;
        font-weight: bold;
    }
</style>
<div class="pageheader notab">
    <h1 class="pagetitle">Retenciones de {{tipo}}</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}
<div id="contentwrapper" class="contentwrapper">

    <div class="" style="margin-bottom: 15px;">
        <form action="{{ path }}" method="GET">
            <div style="display: inline-block; margin-right: 30px;">
                <label><strong>Período:</strong></label>
                <input name="periodo" required="required" class="datepicker" tabindex="2" type="text" value="{{periodo}}">
            </div>
            <button type="submit" >Buscar</button>
        </form>
    </div>

    <div id="tabs" class="">
        <ul>
            <li><a href="#tabs-1">RETENCIONES</a></li>
            <li><a href="#tabs-2">SUJETOS</a></li>
        </ul>
        <div id="tabs-1">
            {% set tempret = 'ComprasBundle:Retenciones:_partial-retenciones.html.twig' %}
            {% include tempret %}
        </div>
        <div id="tabs-2">
           {% set tempsuj = 'ComprasBundle:Retenciones:_partial-sujetos.html.twig' %}
            {% include tempsuj %}
        </div>
    </div><!--#tabs-->


</div>

{% endblock %}
{% block extra_javascripts %}
    {{ parent() }}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('.ui-tabs-panel').css('padding','0');
    $('.datepicker').datepicker({
        dateFormat: "mm-yy",
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        closeText: "Seleccionar",
        onClose: function(dateText, inst) {
            if($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1) {
                $(this).datepicker(
                    'setDate',
                    new Date(
                        $("#ui-datepicker-div .ui-datepicker-year :selected").val(),
                        $("#ui-datepicker-div .ui-datepicker-month :selected").val(),
                        1
                    )
                ).trigger('change');
                $('.date-picker').focusout();
            }
            $("#ui-datepicker-div").removeClass("month_year_datepicker");
        },
        beforeShow : function(input, inst) {
            if((datestr = $(this).val()).length > 0) {
                year = datestr.substring(datestr.length-4, datestr.length);
                month = datestr.substring(0, 2);
                $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                $(this).datepicker('setDate', new Date(year, month-1, 1));
                $("#ui-datepicker-div").addClass("month_year_datepicker");
            }
        }
    });
    $('.togglemenu').click();

});

</script>
{% endblock %}