<tr class="item">
    <td>{{form_widget(item.unidadNegocio)}}</td>
    <td>{{form_widget(item.depositos, { 'attr': {'class' : 'select2' } })}}</td>
    <td>{{form_widget(item.rol)}}</td>
    <td class="delTd" style="text-align:center;"></td>
</tr>