<label> CUIT: </label><span class="cuitproveedor"> {{item.cuit}} </span>
<label> IVA: </label> {% if item.categoriaIva %} {{item.categoriaIva.descripcion|upper}} {% else %} No definido {% endif %}
<label> RENTAS: </label> {% if item.categoriaRentas %} {{item.categoriaRentas.nombre|upper}}{% else %} No definido  {% endif %}
{% if item.direccion is defined %}
<label> DIRECCIÓN: </label> {{item.domicilioCompleto|upper}}
{% endif %}
