<div style="display: inline-block; margin-bottom: 10px;width:40%">
    &nbsp;&nbsp;&nbsp;
    <label><strong>Proveedor:</strong></label>
    <select class="select2" id="selectClienteIndex" name="provId"
            url="{{path('get_autocomplete_proveedores')}}"
            style="width:75%" >
        {% if proveedor %}
            <option value="{{proveedor.id}}"> {{proveedor.nombre }} </option>
        {% endif %}
    </select>
    {% if allowclear %}
    <a id="select2clear" href="javascript:void(0)">x</a>
    {% endif %}
</div>