<select name="concepto" id="selectComprobantes" style="width:90%" class="select2 valores" multiple="multiple">
    <option value=""></option>
    {% for dato in datos %}
    <option value="{{dato.clave}}" data-saldo="{{dato.saldo}}">{{dato.text}}</option>
    {% endfor %}
</select>
