<select name="concepto" id="selectComprobantes" style="width:90%" class="select2 valores" multiple="multiple">
    <option value=""></option>
    {% for dato in facturas %}
    <option value="{{dato.tipo}}-{{dato.id}}">
        [ {{ dato.tipo ~ '-' ~ dato.letra ~ ' ' ~ dato.nroComprobante ~ ' | ' ~ dato.fecha|date('d-m-Y') ~ ' | $' ~ dato.saldo  }} ]
    </option>
    {% endfor %}
</select>
