{% extends 'base.html.twig' %}  

{% block body %}
    <body class="withvernav">
        <div class="bodywrapper">
            {% include "AppBundle::header.html.twig" %}
            <div class="centercontent">

                {% block contentwrapper %}  
                    <div class="errorwrapper error403">
                        <div class="errorcontent">
                            <h1>ACCESO DENEGADO</h1>
                            <h3>Usted no posee los permisos necesarios para acceder a esta p치gina.</h3>

                            <p>Esto puede ser por las siguientes causas</p>
                            <ul>
                                <li>Esta secci칩n esta restringida intencionalmente para su usuario.</li>
                                <li>Es imposible acceder a esta secci칩n en este momento.</li>
                            </ul>
                            <br />
                            <button class="stdbtn btn_black" onclick="history.back();">Volver a la p치gina anterior</button> 
                        </div><!--errorcontent-->
                    </div><!--errorwrapper-->                
                {% endblock %}
                
            </div>
        </div>
    </body>             
{% endblock %}