{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Parametrización</h1>
    <span class="pagedesc"> Parámetros por defecto para la sección de Ventas </span>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
    {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
    <fieldset >
        <div class="one_half">            
        {{ form_row(form.ventasClienteBydefault) }}
        </div>              
    </fieldset>            
    <fieldset >            
        <br clear="all" /> 
        <div class="actionbutton">
            <button class="guardar" type="submit" >Guardar</button>
            <a class="cancelar" type="button" href="{{ path('ventas')}}">Cancelar</a>
        </div>
    </fieldset>
{{ form_end(form) }}
</div>    
</div> 
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">
jQuery(function ($) {
    $(window).on('load', function () {        
    });
});
</script>  
{% endblock %}
