<div id="dialog-tipopago" title="Elegir Pago" style="display:none">
  <form style="text-align:center">
    <button type="button" class="stdbtn btn_black" data-tipo="EFECTIVO">EFECTIVO</button>
    <button type="button" class="stdbtn btn_black" data-tipo="CHEQUE">CHEQUE</button>
    <button type="button" class="stdbtn btn_black" data-tipo="TARJETA">TARJETA</button>
  </form>
</div>
