<div class="notifmsg info png_bg" style="margin-top:50px; background-position:10px 7px !important">
    <div style="padding: 5px 10px 5px 36px">
      <small>

        Ctrl+Alt+F = Buscar Forma de Pago <strong class="divnotif">|</strong>

        Ctrl+Alt+D = Ver Detalle de Items <strong class="divnotif">|</strong>

        + = Agregar pago <strong class="divnotif">|</strong>

        Ctrl+Alt+G = Guardar

      </small>
    </div>
</div>