{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Estadísticas</h1>
<span class="pagedesc">Ranking de productos más vendidos</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
  <form id="searchform" action="{{ path('ventas_estadistica_ranking') }}" method="get">
    <div style="display: inline-block; margin-right: 30px;">
        &nbsp;&nbsp;&nbsp;
        <label><strong>Periodo: </strong></label>
        <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" />
        <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" />
        <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
    </div>
  </form>

    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="clientes_table">
        <thead>
            <tr>
                <th>#</th>
                <th class="nosort">Producto</th>
                <th class="nosort">Cantidad</th>
                <th class="nosort">Importe</th>
            </tr>
        </thead>
        <tbody>
          {% for ranking in entities %}
          <tr>
              <td>{{ loop.index }}</td>
              <td></td>
              <td></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($){
  $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
});
</script>
{% endblock %}