{% for tipo, mensajes in app.session.flashbag.all() %}
    {% for mensaje in mensajes %}
    <div class="notifmsg {{ tipo }} png_bg">
        <a href="#" class="close"></a>
        <div> {{ mensaje|raw }} </div>
    </div>
    {% endfor %}
{% endfor %}