/web/bundles/
/web/uploads/
/web/assets/css/plugins/*
/web/assets/ajax/*
/web/assets/datatables/*
/web/assets/fancybox/*
/web/assets/fonts/*
/web/assets/images/*
/web/assets/js/plugins/*
/web/assets/js/qz/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/composer.json
/composer.lock
/docs/
*.php~