<div style="display:inline-block; width: 25%; "> 
    {{ form_row(form.nombreCliente)}}    
</div>
<div style="display:inline-block; width: 15%;"> 
    {{ form_row(form.tipoDocumentoCliente, { 'attr': {'class' : 'select2','style':'width:100%','data-allow-clear':'true','data-placeholder':'' } })}}
</div>
<div style="display:inline-block; width: 15%;"> 
    {{ form_row(form.nroDocumentoCliente)}}
</div>   
<div style="display:inline-block; width: 25%;"> 
    {{ form_row(form.direccionCliente)}}
</div>   