
{% if app.session.get('caja') %}
{% if app.session.get('caja')['apertura'] %}
    {% if app.user.access(app.session.get('unidneg_id'),'ventas_factura_new') %}

        {% include 'VentasBundle:Cobro:_partial-tabla-por-cobrar.html.twig' %}

    {% endif %}
{% else %}
    <div class="aligncenter">
    {% if app.user.access(app.session.get('unidneg_id'),'ventas_caja_apertura') %}
            {% set urlApertura = path('ventas_apertura_new') %}
            <a href="javascript:void(0)" onclick="aperturaCajaVentas('{{ urlApertura }}','true')" class="btn btn_orange btn_lock" title="Debe abrir la caja para realizar cobros">
                <span style="font-size: 14px;">APERTURA DE CAJA</span>
            </a>
    {% else %}
        <div class="external-event" style="background-color:orangered" title="Debe abrir la caja para realizar cobros">CAJA CERRADA</div>
    {% endif %}
    </div>
{% endif %}
{% endif %}
