<pdf>
    <dynamic-page page-size="A4" margin-left="60px" margin-right="40px" margin-top="20px" >
        <placeholders>
            <header>
                <div height="200px" width="100%" >
                    <table>
                        <tr>
                            <td border.color="#555555" colspan="3" vertical-align="middle" text-align="center" font-size="14px">
                                <div padding="5px"><strong>ORIGINAL</strong></div>
                            </td>
                        </tr>
                        <tr>
                            <td border.type="none" text-align="center" vertical-align="middle">
                                <div width="100%" font-size="16px">
                                    <strong>CASA AIDES</strong>
                                </div>
                            </td>
                            <td border.color="#555555" width="50px" vertical-align="middle" text-align="center">
                                <div font-size="26px"><strong>A</strong> </div>
                                <div font-size="9px" margin-bottom="5px"> <strong> COD. 01 </strong>  </div>
                            </td>
                            <td border.type="none" text-align="center" vertical-align="middle">
                                <div width="100%" font-size="16px">
                                    <strong>FACTURA</strong>
                                </div>
                            </td>
                        </tr>


                    </table>

                    <div height="5px"></div>

                </div>
            </header>

        </placeholders>
        <div border.color="#555555" height="1px" ></div>
        <h2 text-align="center"> ....</h2>

    </dynamic-page>
</pdf>