{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Configuraciones del Sistema</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}
<div id="contentwrapper" class="contentwrapper">
    <div class="two_third dashboard_left">
        <ul class="shortcuts">
            <li>
              {% if app.user.access(app.session.get('unidneg_id'),'sistema_banco_movimiento') %}
                <a href="{{ path('sistema_banco_movimiento') }}" class="banco" title="Ir a Movimientos de Banco">
                    <span class="loader">Mov. Bancarios</span>
                </a>
              {% endif %}
            </li>
        </ul>
        <br clear="all" />
    </div><!--two_third dashboard_left -->
</div>
{% endblock %}