<div class="datos-moneda">
    {{ form_label(form.moneda)}}
    {{ form_widget(form.moneda,
        {'attr':
            {'style':'width:80%',
             'url_datos': path('get_datos_moneda')
            }
        })
    }}

    {{ form_widget(form.cotizacion)}}
</div>