<tr class="item" divdata="item_items">
    <td class="ordTd"></td>
    <td class="prodTd">
        {{ form_widget(item.producto,{'attr':{'style':'width:80%','url':path('get_lista_productos'), 'fnc':'openModalProducto', 'mtitle':'Seleccionar Producto'}}) }}
        <a href="javascript:void(0)" class="btn btnaction btn_search"></a>
    </td>
    <td class="cantTd">
        {{ form_widget(item.cantidad, { 'attr': {'class' : 'number floatleft','min':'0'} }) }}
        <span class="unidmed floatleft" style="padding-left: 5px"></span>
    </td>
    <td class="precTd alignright">
        <span>0</span>
        {{ form_widget(item.precio) }}  {{ form_widget(item.alicuota) }}
    </td>
    <td class="itmSubtotalTd alignright"></td>
    <td class="delTd" style="text-align:center;"></td>
</tr>