{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Clientes</h1>
<span class="pagedesc">Listado de Clientes del sistema</span> 
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
    <form id="printform" name="printform" target="_blank" action="{{ path("export_ventas_cliente") }}" method="post" style="height:40px; ">
        <input type="hidden" id="searchterm" name="searchterm"/>        
        <button class="stdbtn floatright" type="submit" >Exportar</button>
    </form> 
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="clientes_table">       
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                <th>CUIT</th>
                <th>Dirección</th>
                <th>Localidad</th>
                <th class="nosort">Teléfono</th>                
                <th class="nosort">Saldo</th>                
                <th style="width:5%;" class="nosort">Activo</th>
                <th class="nosort actionbutton addbutton">
                   {% if app.user.access(app.session.get('unidneg_id'),'ventas_cliente_new') %}
                    <a class="editar create" href="{{ path('ventas_cliente_new') }}" style="text-align:center">Agregar Cliente</a>
                    {% else %} &nbsp; {% endif %} 
                </th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table> 
</div>

{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($){

        var oTable = $('#clientes_table').dataTable({
                "columnDefs": [        
                    // These are the column name variables that will be sent to the server
                    { "name": "nombre", "targets": 0 },
                    { "name": "cuit",  "targets": 1 },                    
                    { "name": "direccion",  "targets": 2 },                    
                    { "name": "localidad",  "targets": 3 },                    
                    { "name": "telefono",  "targets": 4 },                    
                    { "name": "saldo",  "targets": 5 },                    
                    { "name": "activo",  "targets": 6 },  
                    { "name": "actions",  "targets": 7 },                  
                    { "targets"  : 'nosort', "orderable": false }        
                ],
                "rowCallback": function (row, data) {                             
                    // registrar seleccion           
                    $(row).find('td:nth-child(6n)').addClass('alignright');
                   // $(row).find('td:nth-child(6n)').addClass('aligncenter');                   
                 },
                // Server-side parameters
                "processing": true,
                "serverSide": true,
                // Ajax call
                "ajax": {
                    "url": "{{ path('cliente_index_datatables') }}",
                    "type": "POST",
                },
                // Classic DataTables parameters
                "bPaginate" : true,
                "bInfo" : true, 
                "bSearchable": true,        
                "bLengthChange": true,
                "pageLength":10,
                "order": [[0, 'asc']],
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "<<",
                        "sNext": ">",
                        "sLast": ">>",
                        "sPrevious": "<"
                    },
                    "sProcessing": "<div style='color:red;text-align: center;'>CARGANDO DATOS...</div>",
                    "sLengthMenu": "Mostrar _MENU_ registros ",
                    "sZeroRecords": "Sin datos",
                    "sInfo": " _START_ / _END_  -  <strong>Total: _TOTAL_ </strong>",
                    "sInfoEmpty": "Sin coincidencias",
                    "sInfoFiltered": "(filtrado de _MAX_ registros)",
                    "sSearch": "Buscar:"
                }
            }); 
    
   
   $('#printform').on('submit',function(){
        $('#searchterm').val( $('#clientes_table_filter input').val() );        
    });
});
</script>     
{% endblock %}