<table cellpadding="0" cellspacing="0" border="0" class="stdtable noaction">    
    <thead>    
        <tr class="resumen">
            <th id="gralSubtotalTd">Subtotal: &nbsp;$&nbsp;<span>0</span>.-</th>                      
            <th>Descuento/Recargo [<span class="porcentajeRecargo">{{entity.formapago.porcentajeRecargo}}</span>%]: &nbsp;$&nbsp; <span id="importeRecargo">0</span>.-</th>                
            <th class="gralTotalTd">Neto a Pagar: &nbsp;$&nbsp;<span id="totalGral">0</span>.-</th> 
        </tr>
    </thead>
</table>   
                       
            