<tr class="item" divdata="item_items">
    <td class="ordTd"></td>
    <td class="prodTd">
        {{ form_widget(item.producto,{'attr':{'style':'width:80%','url':path('get_lista_productos'), 'fnc':'openModalProducto', 'mtitle':'Seleccionar Producto'}}) }}  
        <a href="javascript:void(0)" class="btn btnaction btn_search"></a>
    </td>    
    <td class="cantTd">{{ form_widget(item.cantidad, { 'attr': {'class' : 'number floatleft','min':'0','style':'text-align:right;'} }) }}
        <span class="unidmed floatleft" style="padding-left: 5px"></span>
    </td>    
    <td class="precTd  alignright">        
        <span tabIndex="-1">{{ form_widget(item.precio, { 'attr': {'class' : 'mediuminput','style':'text-align:right;', 'readonly':'readonly'} }) }} </span>
    </td>    
    <td class="itmSubtotalTd alignright"></td>
    <td class="delTd" style="text-align:center;"></td>
</tr>