<label for="txtrubro">Rubro:</label>
<select id="txtrubro" name="txtrubro" class="mininput">
    {% for rub in rubros %}
        <option value="{{rub.id}}" {% if rub.id==rubro.id %} selected="selected" {% endif %} >
            {{rub.nombre}}
        </option>
    {% endfor %}
</select>