<tr class="item">
    <td>{{form_widget(item.nombre, { 'attr': {'class' : 'uppercase' } })}}</td>
    <td>{{form_widget(item.activo)}}</td>
    <td class="delTd" style="text-align:center;"></td>
</tr>