<tr class="item" divdata="item_items">
    <td class="ordTd"></td>
    <td class="prodTd">{{ form_widget(item.producto) }}</td>
    <td class="cantTd">{{ form_widget(item.cantidad, { 'attr': {'class' : 'width50 floatleft'} }) }} 
        
    </td>
    <td class="bulto">{{ form_widget(item.bulto) }} </td>
    <td class="cantxBulto">{{ form_widget(item.cantidadxBulto) }} </td>
    <td class="totalTd alignright"></td>
    <td class="delTd" style="text-align:center;"></td>
</tr>