<tr class="item2" divdata="item2_items2" style="height:30px">
    <td class="listaTd">{{ form_widget(item.precioLista) }}</td>
    <td class="precTd">{{ form_widget(item.precio, { 'attr': {'class' : 'precval mediuminput' } }) }}</td>                            
</tr>