<tr class="item" divdata="item_items" style="height:30px">
    <td class="depTd">{{ form_widget(item.deposito) }}</td>
    <td class="minTd">{{ form_widget(item.stockMinimo, { 'attr': {'class' : 'stkmin mediuminput' } }) }}</td>                            
</tr>