<tr class="item2" divdata="item2_items2" style="height:30px">
    <td class="cuentaTd">{{ form_widget(item.nroCuenta) }}</td>
    <td class="tipoTd">{{ form_widget(item.tipoCuenta) }}</td>
    <td class="monedaTd">{{ form_widget(item.moneda) }}</td>
    <td class="activoTd">{{ form_widget(item.activo) }}</td>
    <td class="delTd">
        <a href="javascript:void(0)"
          title="Eliminar cuenta" class="btn btnaction btn_trash"
          onclick="delCuenta(this)" ></a>
    </td>
</tr>