<tr class="ccitem" divdata="item_cctds" style="height:30px;background-color: white">
    <td class="unegTd">{{ form_widget(cc.centroCosto) }}</td>
    <td class="costoTd">{{ form_widget(cc.costo, { 'attr': {'class' : 'ccerror mediuminput' } }) }}</td>                            
    <td class="lnkTd"><a href="javascript:void(0)" class="delCC" title="Eliminar este elemento" tabIndex="-1"><img style="width:14px" src="{{asset('assets/images/icons/trash.png')}}" /></a></td>                            
</tr>